src/main/resources/application-local.yaml
src/main/resources/application-local.properties
embabel-agent-api/src/main/resources/mcp/**
/build/**
/target/**
*/target/**
*/*/target/**
*/*/*/target/**

.idea/**

.claude

**/*.log